<div class="MainContent" (click)="hideAllActions()">
  <div class="container">
    <app-breadcrumb [bucket]="bucket"></app-breadcrumb>

    <div class="FileBrowserControls">
      <div class="row w-100 my-3 mx-0">
        <div class="col-lg-6 p-0 d-flex flex-row">
          <button class="btn btn-primary mr-2" (click)="createNewFolder()">New Folder</button>
          <div class="form-group mb-0 flex-grow-1">
            <input type="text" class="form-control" name="" (input)="searchFilter()" [(ngModel)]="searchInput"
              placeholder="Start typing to filter the list of files and folders">
          </div>
        </div>
        <div class="col-lg-6 text-right p-0">
          <div class="UploadActions mr-3">
            <button class="btn btn-outline-secondary" type="button">Actions (0) <i class="icofont-simple-down"></i>
            </button>
            <div class="UploadActions__content">
              <div class="list-group">
                <a Value class="list-group-item list-group-item-action" (click)="openMoveItemModal();">Move to
                  folder</a>
                <a Value class="list-group-item list-group-item-action" (click)="showDeletesModel()">Delete</a>
              </div>
            </div>
          </div>

          <button class="btn btn-primary UploadFile mr-3" type="button">Upload Files
            <input type="file" class="UploadFile__input" multiple (change)="uploadFiles($event)">
          </button>

          <button class="btn btn-primary UploadFolder" type="button">Upload Folders
            <input type="file" class="UploadFolder__input" webkitdirectory mozdirectory multiple
              (change)="uploadFolders($event)">
          </button>
        </div>
      </div>
    </div>

    <div class="FileBrowser">
      <div class="FileBrowserHeader small">
        <strong class="FileBrowserHeader__left">
          <div *ngFor="let crumb of bucketBreadcrumbs">
            <a (click)="navigateBucketBreadcrumb(crumb.path)"
              class="FileBrowserHeader__crumb">{{crumb.name != '/' ? crumb.name + '/' : crumb.name}}</a>
          </div>
        </strong>
        <div class="FileBrowserHeader__right">2 items</div>
      </div>
      <table class="table table-hover">
        <thead class="FileBrowser__titlebar">
          <tr>
            <th scope="col" class="FileBrowser__selectcolumn">
              <label class="CheckboxContainer">
                <input type="checkbox" [(ngModel)]="states.checkedAll" (ngModelChange)="selectAll($event)">
                <span class="CheckboxContainer__checkmark"></span>
              </label>
            </th>
            <th scope="col" class="FileBrowser__namecolumn">Name</th>
            <th scope="col" class="FileBrowser__sizecolumn">Size</th>
            <th scope="col" class="FileBrowser__timecolumn">Last Modified</th>
            <th scope="col" class="FileBrowser__optioncolumn"></th>
          </tr>
        </thead>
        <tbody class="FileBrowser__content">

          <tr *ngFor="let object of objects; let i = index">
            <td class="FileBrowser__selectcolumn">
              <label class="CheckboxContainer">
                <input type="checkbox" [checked]="object.isSelected" name="select_{{i}}"
                  (change)="selectObject($event, i)">
                <span class="CheckboxContainer__checkmark"></span>
              </label>
            </td>
            <td class="FileBrowser__namecolumn" *ngIf="object.objectType=='folder'">
              <span (click)="browseFolder(object.name)" *ngIf="!object.onEditMode">
                <img src="../../../assets/icons/folder-close.svg" class="FileBrowser__icon mr-2" alt="">
                {{object.name}}
              </span>

              <!-- editable mode -->
              <div *ngIf="object.onEditMode">
                <img src="../../../assets/icons/folder-close.svg" class="FileBrowser__icon mr-2" alt="">
                <input type="text" [(ngModel)]="object.name" [(ngModel)]="newFolderName" (keydown)="createFolder($event,i)" placeholder="Folder name" />
                <!-- <button (click)="closeFolderEditMode(i)">check</button> -->
              </div>
            </td>
            <td class="FileBrowser__namecolumn" *ngIf="object.objectType=='file'">
              <span>
                <img src="../../../assets/icons/file.svg" class="FileBrowser__icon mr-2" alt="">
                {{object.name}}
              </span>

              <!-- hover menu -->
              <div class="FileBrowser__infomenu">
                <div class="d-flex flex-row align-items-center">
                  <div>Origin</div>
                  <div>
                    <a class="FileBrowser__infomenu_URL mx-2"
                      href="">https://bucket-pradeephareesh.blaz.app/guess-number-game/index.html</a>
                  </div>
                  <button class="btn btn-light">Copy</button>
                </div>
                <table class="table mt-2">
                  <tbody>
                    <tr>
                      <th>Permission</th>
                      <td>Public</td>
                    </tr>
                    <tr>
                      <th>Content-type</th>
                      <td>text/html</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
            <td class="FileBrowser__sizecolumn">{{object.size | bytes}}</td>
            <td class="FileBrowser__timecolumn">
              <abbr title="{{object.modifiedAt | date: 'full'}}">{{object.modifiedAt | date: 'medium'}}</abbr>
            </td>
            <td class="FileBrowser__optioncolumn">
              <div class="FileBrowserOption" (click)="showActions(i)" #action_{{i}}>
                <span class="text-primary">
                  More <i class="icofont-simple-down"></i>
                  <!-- Enable this up icon with ngIf @jacobsamro -->
                  <!-- <i class="icofont-simple-up"></i> -->
                </span>
                <div class="FileBrowserOption__menu" [class.open]="object.showActions === true" #action_menu_{{i}}>
                  <div class="list-group">
                    <a class="list-group-item list-group-item-action" (click)="showManagePermissionsModal()">Manage
                      Permissions</a>
                    <a class="list-group-item list-group-item-action" (click)="showManageMetaModal()">Manage
                      Metadata</a>
                    <a class="list-group-item list-group-item-action"
                      href="{{API_URL}}/{{bucketName}}{{currentPath}}{{object.name}}" target="_blank"
                      *ngIf="object.objectType=='file'">Download</a>
                    <a class="list-group-item list-group-item-action" (click)="openFolderEditMode(i)">Rename</a>
                    <a class="list-group-item list-group-item-action" (click)="showMoveObjectsModal()">Move to
                      folder</a>
                    <a class="list-group-item list-group-item-action" (click)="showShareObjectModal()">Share</a>
                    <a class="list-group-item list-group-item-action text-danger"
                      (click)="showDeleteModal(i)">Delete</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-delete [show]="modalStates.delete" [objects]="actions.objectsToDelete" [bucket]="bucket"
  [currentPath]="currentPath" (onDelete)="onDelete($event)"></app-modal-delete>
<app-modal-meta [show]="modalStates.meta"></app-modal-meta>
<app-modal-move-files [show]="modalStates.moveFiles"></app-modal-move-files>
<app-modal-permissions [show]="modalStates.permissions"></app-modal-permissions>
<app-modal-share [show]="modalStates.share"></app-modal-share>
<app-modal-upload-files [show]="modalStates.uploadFiles" [files]="actions.files"></app-modal-upload-files>