@import "../../../../assets/styles/variables";

.FileBrowser,
.UploadReadyFiles,
.ManageMeta {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: 100%;
}

.FileBrowserHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #d3d3d3;
}
.FileBrowserHeader__left {
  color: map-get($theme-colors, "secondary");
  display: flex;
  flex-direction: row;
}
.FileBrowserHeader__right {
  color: map-get($theme-colors, "secondary");
}
.FileBrowser__icon {
  height: 25px;
}

.FileBrowser__selectcolumn {
  text-align: center;
  max-width: 50px;
}
.FileBrowser__namecolumn {
  min-width: 50%;
  text-align: left;
}
.FileBrowser__sizecolumn {
  min-width: 10%;
  text-align: left;
}
.FileBrowser__timecolumn {
  min-width: 20%;
  text-align: left;
}
.FileBrowser__optioncolumn {
  min-width: 14%;
  text-align: right;
}
.FileBrowserOption {
  position: relative;
}

.FileBrowserOption .FileBrowserOption__menu.open {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  opacity: 1;
}

.FileBrowserOption__menu {
  position: absolute;
  right: 0;
  top: 30px;
  min-width: 150px;
  background-color: #fff;
  border-radius: 4px;
  z-index: -1;
  opacity: 0;
  transform: translate3d(0, -10px, 0);
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.FileBrowserOption .list-group .list-group-item {
  font-size: 0.8rem;
  padding: 10px;
  cursor: pointer;
  height: 41px;
  overflow: hidden;
  text-align: center;
}

.FileBrowserControls {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.UploadFile,
.UploadFolder {
  position: relative;
}
.UploadFile__input,
.UploadFolder__input {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}

.UploadReadyFiles__name {
  width: 70%;
  text-align: left;
}
.UploadReadyFiles__size {
  width: 10%;
  text-align: left;
}
.UploadReadyFiles__file {
  width: 20%;
  text-align: left;
}
/* The CheckboxContainer */
.CheckboxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

/* Hide the browser's default checkbox */
.CheckboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.CheckboxContainer__checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  display: flex;
}

/* On mouse-over, add a grey background color */
.CheckboxContainer:hover input ~ .CheckboxContainer__checkmark {
  background-color: #fafafa;
}

/* When the checkbox is checked, add a blue background */
.CheckboxContainer input:checked ~ .CheckboxContainer__checkmark {
  background-color: #ffffff;
  border: 1px solid map-get($theme-colors, "primary");
}

/* Create the CheckboxContainer__checkmark/indicator (hidden when not checked) */
.CheckboxContainer__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the CheckboxContainer__checkmark when checked */
.CheckboxContainer input:checked ~ .CheckboxContainer__checkmark:after {
  display: block;
}

/* Style the CheckboxContainer__checkmark/indicator */
.CheckboxContainer .CheckboxContainer__checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid map-get($theme-colors, "primary");
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.UploadActions {
  position: relative;
  display: inline-block;
}

.UploadActions__content {
  position: absolute;
  right: 0;
  top: 40px;
  min-width: 150px;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  transform: translate3d(0, -10px, 0);
  z-index: -1;
}

.UploadActions:hover .UploadActions__content {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  opacity: 1;
}

.ManageMeta__key {
  text-align: left;
  width: 40%;
}
.ManageMeta__value {
  text-align: left;
  width: 50%;
}
.ManageMeta__option {
  text-align: center;
  width: 10%;
}

.ManageMeta__custompairing {
  display: none;
  width: 100%;
  align-items: center;
}

.MoveFileBrowser {
  width: 100%;
  border: 0.5px solid #d3d3d3;
  overflow: hidden;
  border-radius: 4px;
}

.MoveFileBrowser .list-group-item {
  border: 0;
}
