<div class="AppContent__full">
    <div class="row">
        <div class="col-lg-5 shadow-lg p-4 rounded mx-auto">
            <a class="Logo w-100 p-3 text-primary text-center d-block">
                <h1 class="Sidebar__title">Felix</h1>
                <h6 class="Sidebar__title--sub">File Manager</h6>
            </a>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="userName" placeholder="Enter your username"
                        autocomplete="off" [(ngModel)]="user.username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="inputPassword3" placeholder="Password"
                        autocomplete="off" [(ngModel)]="user.password">
                </div>
                <div class="form-group mb-0 d-flex align-items-center justify-content-between">
                    <label class="CheckboxContainer d-flex align-items-center flex-row">
                        <input type="checkbox" checked="checked" name="keep-signin">
                        <span class="CheckboxContainer__checkmark d-inline-flex"></span>
                        <div class="h6 my-1 font-weight-normal ml-2 d-inline-flex">Keep me signed in</div>
                    </label>
                    <button type="submit" class="btn btn-primary" routerLink="/"
                        (click)="login()">{{logInText}}</button>
                </div>
            </form>
        </div>
    </div>

</div>