/* You can add global styles to this file, and also import other style files */

.toast-container .ngx-toastr:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: none !important;
}
.toast-container .ngx-toastr {
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  color: #429be5 !important;
  border: 2px solid #429be5;
  box-shadow: none !important;
}
