@import "../../../assets/styles/variables";

.Sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
  width: 200px;
  background-color: map-get($theme-colors, "dark");
  z-index: 5;
}
.Sidebar__title {
  font-family: Roboto-Black;
}
.Sidebar__title--sub {
  font-family: Roboto-Medium;
}