<div class="col-lg-2 p-0 Sidebar text-white">
    <a class="Logo w-100 p-3 text-white d-block" routerLink="/buckets">
        <h1 class="Sidebar__title">Felix</h1>
        <h6 class="Sidebar__title--sub">File Manager</h6>
    </a>

    <div class="SidebarLinks" *ngIf="user">
        <div class="SidebarLink" routerLink="/buckets" routerLinkActive="SidebarLink__active"><i
                class="icofont-listine-dots mx-2"></i>Buckets</div>
        <div class="SidebarLink" *ngIf="user.role != 'user'" routerLink="/users" routerLinkActive="SidebarLink__active">
            <i class="icofont-users-alt-5 mx-2"></i>Users</div>
        <div class="SidebarLink" *ngIf="user.role != 'user'" routerLink="/settings"
            routerLinkActive="SidebarLink__active"><i class="icofont-settings mx-2"></i>Settings</div>
    </div>



</div>