<div class="MainContent">
    <div class="container">
        <app-breadcrumb [bucket]="bucket"></app-breadcrumb>

        <div class="BucketSettings">
            <div class="BucketSettings__item BucketSettings__item--column">
                <div class="d-flex flex-row justify-content-between w-100">
                    <div>
                        <h5 class="m-0">File Listing</h5>
                        <p class="m-0">
                            <strong>Restricted:</strong>
                            Only users who connect to this Space using access keys can list the contents.
                        </p>
                    </div>
                    <button class="btn btn-outline-secondary" (click)="openFileListingPrivacy();">Edit</button>
                </div>

                <div class="w-100 mt-3 FileListingPrivacy flex-column" id="FileListingPrivacy">
                    <div class="d-flex flex-row mb-3">
                        <div class="form-check form-check-inline border p-3 rounded">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label p-3" for="inlineRadio1"><span class="h6">Restrict File
                                    Listing</span><br />
                                <div class="small">Only users who connect to this Bucket using access keys can list
                                    the
                                    contents.
                                </div>
                            </label>
                        </div>
                        <div class="form-check form-check-inline border p-3 rounded">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label p-3" for="inlineRadio2"><span class="h6">Enable File
                                    Listing
                                </span>
                                <br />
                                <div class="small">Anyone can list the contents of this Space.
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <button class="btn btn-primary m-1" (click)="closeFileListingPrivacy()">Save</button>
                        <button class="btn btn-outline-secondary m-1"
                            (click)="closeFileListingPrivacy()">Cancel</button>
                    </div>
                </div>

            </div>
            <div class="BucketSettings__item">
                <div>
                    <h5 class="m-0">CDN (Content Delivery Network)</h5>
                    <p class="m-0">
                        <strong>Enabled:</strong>
                        Your Space is being served via the content delivery network.
                    </p>
                </div>
                <div>
                    <button class="btn btn-outline-light mr-3">Purge Cache</button>
                    <button class="btn btn-outline-secondary">Edit</button>
                </div>
            </div>
            <div class="BucketSettings__item">
                <div>
                    <h5 class="m-0">CORS Configurations</h5>
                    <p class="m-0">
                        Rules are processed in order from top to bottom until there is a match - drag and drop rules to
                        reorder.
                    </p>
                </div>
                <button class="btn btn-outline-secondary" (click)="openCORSoptionModal()">Add</button>
            </div>
            <div class="BucketSettings__item BucketSettings__item--column">
                <div>
                    <h5 class="m-0">Endpoint</h5>
                    <p class="m-0">
                        <strong>Restricted:</strong>
                        The endpoint is used to configure 3rd party clients, which may refer to it by other names such
                        as the S3 Endpoint or Server.
                    </p>
                </div>
                <div class="w-100 text-left mt-2">
                    <div class="BucketEndpoint">
                        <span class="mx-2">fibo-bucket.blaz.app</span>
                        <button class="btn btn-light">Copy</button>
                    </div>
                </div>
            </div>
            <div class="BucketSettings__item">
                <div>
                    <h5 class="m-0">Delete this bucket</h5>
                    <p class="m-0">
                        This will schedule your space to be deleted. Your space and all associated objects will be
                        permanently destroyed, scrubbed, and irretrievable after the deletion period. You will NOT be
                        billed for the Space from the time you requested a delete to time the Space and its contents are
                        actually deleted.
                    </p>
                </div>
                <button class="btn btn-outline-danger" (click)="openDeleteBucketModal();">Delete</button>
            </div>
        </div>
    </div>
</div>



<!-- Delete Bucket Modal-->
<div class="modal" id="DeleteBucketModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Delete this bucket <code>bucket-name</code> ?</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeDeleteBucketModal();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Destroying a bucket will schedule the Bucket and all the objects inside to be permanently deleted.
                </p>
                <p>Confirm you want to permanently delete this Bucket by entering its name below.</p>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{bucket.bucketName}}" disabled>
                </div>
                <div class="form-group mb-0">
                    <label class="m-0 small text-secondary">enter the name of this bucket to enable deletion</label>
                    <input type="text" class="form-control" [(ngModel)]="deleteConfirmationBucketName" placeholder="Enter the name of this bucket">
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 text-left">
                    <button type="button" class="btn btn-outline-secondary mr-3" (click)="closeDeleteBucketModal();">
                        Cancel</button>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteBucket()" >
                        Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CORS Option Modal-->
<div class="modal" id="CORSoptionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Advanced CORS Options</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeCORSoptionModal();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="m-0">Origin</h6>
                <div class="form-group">
                    <label class="m-0 small text-secondary">Enter the name of this bucket to enable deletion</label>
                    <input type="text" class="form-control" placeholder="Enter the name of this bucket">
                </div>

                <h6 class="m-0">Allowed Methods</h6>
                <div class="form-group">
                    <div class="form-check form-check-inline p-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox99" value="option1">
                        <label class="form-check-label" for="inlineCheckbox99">GET</label>
                    </div>
                    <div class="form-check form-check-inline p-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox98" value="option2">
                        <label class="form-check-label" for="inlineCheckbox98">PUT</label>
                    </div>
                    <div class="form-check form-check-inline p-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox97" value="option3">
                        <label class="form-check-label" for="inlineCheckbox97">DELETE</label>
                    </div>
                    <div class="form-check form-check-inline p-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox96" value="option4">
                        <label class="form-check-label" for="inlineCheckbox96">POST</label>
                    </div>
                    <div class="form-check form-check-inline p-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox95" value="option5">
                        <label class="form-check-label" for="inlineCheckbox95">HEAD</label>
                    </div>
                </div>

                <div class="my-3">
                    <h6 class="mb-2">Allowed Headers</h6>
                    <div class="w-100 HeaderCORS flex-row align-items-center" id="HeaderCORS">
                        <div class="form-group flex-grow-1 mb-0">
                            <input type="text" class="form-control" placeholder="Header Name">
                        </div>
                        <a (click)="removeHeaderCORS();" class="text-danger p-2">Remove</a>
                    </div>
                    <a (click)="addHeaderCORS();" class="text-primary">Add Header</a>
                </div>

                <h6 class="m-0">Access Control Max Age</h6>
                <div class="form-group">
                    <label class="m-0 small text-secondary">Seconds</label>
                    <input type="text" class="form-control" value="0">
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 text-left">
                    <button type="button" class="btn btn-success mr-3" (click)="closeCORSoptionModal();">
                        Save Options</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="closeCORSoptionModal();">
                        Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>