@import "../../../../../assets/styles/variables";

.BucketSettings__item {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d3d3d3;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.BucketSettings__item--column {
  flex-direction: column;
  align-items: flex-start;
}

.BucketEndpoint {
  background-color: map-get($theme-colors, "lighter");
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
}

.FileListingPrivacy {
  display: none;
}

.HeaderCORS {
  display: none;
}
