@import "../../../assets/styles/variables";

.User__ID {
  width: 10%;
}
.User__name {
  width: 25%;
}
.User__password {
  width: 25%;
}
.User__role {
  width: 15%;
}
.User__status {
  width: 15%;
}
.User__actions {
  width: 10%;
}
