<!-- Modal Share -->
<div class="modal" id="ShareItemModal" tabindex="-1" role="dialog" aria-hidden="true" [class.open]="show">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title">Share <code>folder/file</code></h5>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Anyone with the URL below will be able to view your file even if it's set to private read.
          Updating the sharing duration will generate a new URL below</p>
        <strong class="text-uppercase small">Sharing Duration</strong> <br />
        <div class="d-flex flex-row align-items-center justify-content-between mt-2 mb-3">
          <label class="RadioOptionContainer RadioOptionContainer_flex" for="exampleRadios11">
            <input type="radio" name="exampleRadios" id="exampleRadios11" value="1" [(ngModel)]='expireTime' checked>
            <span class="RadioOptionContainer__checkmark"></span>
            <div class="h6 my-1 font-weight-normal ml-2 d-inline-flex">1 hour</div>
          </label>
          <label class="RadioOptionContainer RadioOptionContainer_flex" for="exampleRadios22">
            <input type="radio" name="exampleRadios" id="exampleRadios22" value="6" [(ngModel)]='expireTime'>
            <span class="RadioOptionContainer__checkmark"></span>
            <div class="h6 my-1 font-weight-normal ml-2 d-inline-flex">6 hour</div>
          </label>
          <label class="RadioOptionContainer RadioOptionContainer_flex" for="exampleRadios23">
            <input type="radio" name="exampleRadios" id="exampleRadios23" value="24" [(ngModel)]='expireTime'>
            <span class="RadioOptionContainer__checkmark"></span>
            <div class="h6 my-1 font-weight-normal ml-2 d-inline-flex">1 day</div>
          </label>
          <label class="RadioOptionContainer RadioOptionContainer_flex" for="exampleRadios24">
            <input type="radio" name="exampleRadios" id="exampleRadios24" value="72" [(ngModel)]='expireTime'>
            <span class="RadioOptionContainer__checkmark"></span>
            <div class="h6 my-1 font-weight-normal ml-2 d-inline-flex">3 days</div>
          </label>
          <label class="RadioOptionContainer RadioOptionContainer_flex" for="exampleRadios25">
            <input type="radio" name="exampleRadios" id="exampleRadios25" value="168" [(ngModel)]='expireTime'>
            <span class="RadioOptionContainer__checkmark"></span>
            <div class="h6 my-1 font-weight-normal ml-2 d-inline-flex">7 days</div>
          </label>
        </div>
        <div class="mt-3 d-flex flex-row align-items-center">
          <strong class="text-uppercase small mr-2">File URL</strong>
          <div class="CopyBtn flex-grow-1">
            <span class="mx-2 w-75">{{bucket?.bucketName}}.blaz.app{{currentPath}}{{object?.name}}</span>
            <button class="btn btn-outline-primary d-flex w-25 justify-content-center"
              (click)="copyToClipBoard(bucket.bucketName+'.blaz.app'+currentPath+object.name)">Copy</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="w-100 text-left">
          <button type="button" class="btn btn-outline-secondary mr-3" (click)="hideModal()">
            Cancel</button>
          <button type="button" class="btn btn-success text-white" (click)="shareObject()">
            Save</button>
        </div>
      </div>
    </div>
  </div>
</div>