<!-- Modal Share -->
<div class="modal" id="ShareItemModal" tabindex="-1" role="dialog" aria-hidden="true" [class.open]="show">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <h5 class="modal-title">Share <code>folder/file</code></h5>
          </div>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Anyone with the URL below will be able to view your file even if it's set to private read.
            Updating the sharing duration will generate a new URL below</p>
          <div class="mb-3">
            <strong class="text-uppercase small">Sharing Duration</strong> <br />
            <div class="form-check form-check-inline mr-3">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios11" value="option11"
                checked>
              <label class="form-check-label" for="exampleRadios11">
                1 hour
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios22" value="option22">
              <label class="form-check-label" for="exampleRadios22">
                6 hours
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios23" value="option23">
              <label class="form-check-label" for="exampleRadios23">
                1 day
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios24" value="option24">
              <label class="form-check-label" for="exampleRadios24">
                3 days
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios25" value="option25">
              <label class="form-check-label" for="exampleRadios25">
                7 days
              </label>
            </div>
          </div>
          <div class="mt-3">
            <strong class="text-uppercase small">File URL</strong>
            <div class="d-flex flex-row align-items-center w-100">
              <span class="mx-2 w-75">fibo-bucket.blaz.app</span>
              <button class="btn btn-light d-flex w-25 justify-content-center">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>