<div class="MainContent">
    <div class="container">
        <div class="Buckets">
            <div class="Bucket" *ngFor="let bucket of filteredBucekts">
                <div class="Bucket__name" routerLink="/buckets/{{bucket.bucketName}}">
                    <h6 class="m-0 text-primary Bucket__info--name">{{bucket.bucketName}}</h6>
                    <div class="small Bucket__info text-secondary">BLAZ/{{bucket.items}} items totaling {{bucket.size}}
                    </div>
                </div>
                <div class="Bucket__url">https://{{bucket.bucketName}}.blaz.app <span
                        class="Bucket__url_copy small">Copy</span>
                </div>
                <div class="Bucket__menu p-3">
                    <a href="">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="Bucket__menucontent">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Show Files</a>
                            <a href="#" class="list-group-item list-group-item-action">Settings</a>
                            <a href="#" class="list-group-item list-group-item-action">Move to</a>
                            <a href="#" class="list-group-item list-group-item-action">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>