<div class="MainContent">
    <div class="container">
        <div class="Buckets">
            <div class="Bucket">
                <div class="Bucket__name" routerLink="/buckets/bucket">
                    <h6 class="m-0 text-primary Bucket__info--name">bucket-aroliant-01</h6>
                    <div class="small Bucket__info text-secondary">NYC3/29 items totaling 1.4 MB</div>
                </div>
                <div class="Bucket__url">https://bucket-aroliant-01.blaz.app <span
                        class="Bucket__url_copy small">Copy</span>
                </div>
                <div class="Bucket__menu">&#x2026;</div>
            </div>
        </div>
    </div>
</div>