<!-- Modal Manage Permission-->
<div class="modal" id="ManagePermissionModal" tabindex="-1" role="dialog" aria-hidden="true" [class.open]="show">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title">Manage Permission</h5>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mb-2">Select whether to set this file to private or publicly readable:</p>
        <div class="d-flex flex-row mb-3">
          <label class="RadioOptionContainer RadioOptionContainer_flex mr-4" for="Radios1">
            <input type="radio" [checked]="!object.public" id="privacyRadios1" (click)="setPrivacyPrivate()" for="Radios1">
            <span class="RadioOptionContainer__checkmark"></span>
            <div class="h6 my-1 font-weight-normal ml-2 d-inline-flex">Private</div>
          </label>

          <label class="RadioOptionContainer RadioOptionContainer_flex" for="Radios2">
            <input type="radio" [checked]="object.public" id="privacyRadios2" (click)="setPrivacyPublic()">
            <span class="RadioOptionContainer__checkmark"></span>
            <div class="h6 my-1 font-weight-normal ml-2 d-inline-flex">Public</div>
          </label>
        </div>

        <div class="UploadReadyFiles">
          <table class="table">
            <thead>
              <tr>
                <th class="UploadReadyFiles__name">Name</th>
                <th class="UploadReadyFiles__size">Size</th>
                <th class="UploadReadyFiles__file">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="UploadReadyFiles__name">{{object.name}}</td>
                <td class="UploadReadyFiles__size">
                  <div class="text-secondary">{{object.size | bytes}}</div>
                </td>
                <td class="UploadReadyFiles__file">
                  <div class="text-secondary">{{object.objectType}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <div class="w-100 text-left">
          <button type="button" class="btn btn-success text-white mr-3" (click)="updatePermission();">
            Update</button>
        </div>
      </div>
    </div>
  </div>
</div>