@import "../../../../../../assets/styles/variables";

.UploadReadyFiles {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: 100%;
}

.UploadReadyFiles__name {
  width: 70%;
  text-align: left;
}
.UploadReadyFiles__size {
  width: 10%;
  text-align: left;
}
.UploadReadyFiles__file {
  width: 20%;
  text-align: left;
}
