<div class="Breadcrumb">
    <div class="PresentBucket my-3">
        <div class="align-self-center">
            <img src="../../../assets/icons/empty-bucket.svg" class="PresentBucket__icon" alt="">
        </div>
        <div>
            <h4 class="m-0 PresentBucket__name">{{bucket?.bucketName}}</h4>
            <div class="PresentBucket__info">1.6 MB / 29 items</div>
            <div class="small">URL: <a href="http://{{bucket.bucketName}}.blaz.app" target="_blank">https://{{bucket.bucketName}}.blaz.app</a></div>
        </div>
    </div>

    <div class="BucketNaviation pt-3">
        <a routerLink="/buckets/{{bucket?.bucketName}}" [class.BucketNaviation__itemActive]="isFilesTabActive"
            class="BucketNaviation__item">Files</a>
        <a routerLink="/buckets/{{bucket?.bucketName}}/bucket-settings" routerLinkActive="BucketNaviation__itemActive"
            class="BucketNaviation__item">Settings</a>
    </div>

</div>