$theme-colors: (
  "primary": #429ce4,
  "dark": #285f8c,
  "light": #b6d7f3
);
$enable-transitions: true;
$enable-gradients: true;
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Boostrap defaults overide
* {
  outline: none;
  box-shadow: none;
}
a:hover {
  text-decoration: none;
}
input:focus {
  box-shadow: none;
}
.btn:focus {
  box-shadow: none;
}
