$theme-colors: (
  "primary": #429ce4,
  "dark": #1b84da,
  "light": #b6d7f3,
  "black": #000000,
  "white": #ffffff,
  "light_dim": #fafafa,
  "success": #8bc34a
);
$enable-transitions: true;
$enable-gradients: false;
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Boostrap defaults overide
* {
  outline: none;
  box-shadow: none;
}
a:hover {
  text-decoration: none;
}
input {
  padding: 20px 15px !important;
  height: 41px !important;
}
input:focus {
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none !important;
}
.btn {
  padding: 8px 31px;
  border-radius: 3px;
  font-size: 90%;
  height: 41px;
  letter-spacing: 1px;
}
.btn-primary,
.btn-secondary,
.btn-danger,
.btn-success,
.btn-light {
  border: 0;
}

.btn-light {
  color: map-get($theme-colors, "primary");
}
// $font-size-base: 1.3rem;

// Theme Customization (Bootstrap)
.MainContent {
  margin-top: 67px;
  margin-left: 200px;
  width: calc(100% - 200px);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 20rem;
  position: relative;
}

.MainContent__full {
  position: relative;
  background-color: map-get($theme-colors, "white");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  margin-bottom: 0 !important;
  width: 100%;
}

table th,
table td {
  border: none !important;
}

tr,
th {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d3d3d3 !important;
}
tr:last-child {
  border-bottom: none !important;
}

thead {
  border-bottom: 1px solid #d3d3d3 !important;
  background-color: #fafafa !important;
}

.modal {
  background-color: #00000047;
}
.modal.open {
  display: block;
}

.modal .modal-dialog {
}

.modal.open .modal-dialog {
  animation: modal-transition-in 0.3s ease-in-out;
}

@-webkit-keyframes modal-transition-in {
  0% {
    transform: translate(0, -700px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes modal-transition-in {
  0% {
    transform: translate(0, -700px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes modal-transition-in {
  0% {
    transform: translate(0, -700px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.close:focus {
  outline: none;
}
