$theme-colors: (
  "primary": #429ce4,
  "dark": #1b84da,
  "light": #b6d7f3,
  "black": #000000,
  "white": #ffffff,
  "light_dim": #fafafa,
  "success": #8bc34a
);
$enable-transitions: true;
$enable-gradients: false;
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Boostrap defaults overide
* {
  outline: none;
  box-shadow: none;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
input {
  padding: 20px 15px !important;
  height: 41px !important;
}
input:focus {
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none !important;
}
.btn {
  padding: 8px 31px;
  border-radius: 3px;
  font-size: 90%;
  height: 41px;
  letter-spacing: 1px;
}
.btn-primary,
.btn-secondary,
.btn-danger,
.btn-success,
.btn-light {
  border: 0;
}

.btn-light {
  color: map-get($theme-colors, "primary");
}
// $font-size-base: 1.3rem;

// Theme Customization (Bootstrap)
// AppBody
.AppBody {
  margin-left: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  // background-color: map-get($theme-colors, "gray");
  position: relative;
}

.AppContent {
  border-radius: 6px;
  background-color: map-get($theme-colors, "white");
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 6rem;
  min-height: 90vh;
  min-width: 680px;
  max-width: 1200px;
  width: auto;
  overflow: hidden;
  padding-bottom: 20rem;
}

.AppContent__full {
  position: relative;
  background-color: map-get($theme-colors, "white");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  margin-bottom: 0 !important;
  width: 100%;
}

table th,
table td {
  border: none !important;
}

tr,
th {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d3d3d3 !important;
}
tr:last-child {
  border-bottom: none !important;
}

thead {
  border-bottom: 1px solid #d3d3d3 !important;
  background-color: #fafafa !important;
}

.modal {
  background-color: #00000047;
}
.modal.open {
  display: block;
}

.modal .modal-dialog {
}

.modal.open .modal-dialog {
  animation: modal-transition-in 0.3s ease-in-out;
}

@-webkit-keyframes modal-transition-in {
  0% {
    transform: translate(0, -700px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes modal-transition-in {
  0% {
    transform: translate(0, -700px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes modal-transition-in {
  0% {
    transform: translate(0, -700px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.close:focus {
  outline: none;
}

/* The CheckboxContainer */
.CheckboxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

/* Hide the browser's default checkbox */
.CheckboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.CheckboxContainer__checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  display: flex;
}

/* On mouse-over, add a grey background color */
.CheckboxContainer:hover input ~ .CheckboxContainer__checkmark {
  background-color: #fafafa;
}

/* When the checkbox is checked, add a blue background */
.CheckboxContainer input:checked ~ .CheckboxContainer__checkmark {
  background-color: #ffffff;
  border: 1px solid map-get($theme-colors, "primary");
}

/* Create the CheckboxContainer__checkmark/indicator (hidden when not checked) */
.CheckboxContainer__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the CheckboxContainer__checkmark when checked */
.CheckboxContainer input:checked ~ .CheckboxContainer__checkmark:after {
  display: block;
}

/* Style the CheckboxContainer__checkmark/indicator */
.CheckboxContainer .CheckboxContainer__checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid map-get($theme-colors, "primary");
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// Toggle radio btn
.SwitchContainer {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0;
}

.SwitchContainer .SwitchContainer__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.SwitchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: map-get($theme-colors, "light");
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.SwitchSlider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: map-get($theme-colors, "white");
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.SwitchContainer__input:checked + .SwitchSlider {
  background-color: map-get($theme-colors, "primary");
}

.SwitchContainer__input:focus + .SwitchSlider {
  box-shadow: 0 0 1px map-get($theme-colors, "primary");
}

.SwitchContainer__input:checked + .SwitchSlider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded SwitchSliders */
.SwitchSlider.RoundedToggle {
  border-radius: 25px;
}

.SwitchSlider.RoundedToggle:before {
  border-radius: 50%;
}

// Refresh Btn
.RefreshBtn__icon {
  cursor: pointer;
  padding: 10px;
  color: map-get($theme-colors, "primary");
  font-size: 20px;
}
.RefreshBtn__icon:hover {
  font-size: 25px;
}
.RefreshBtn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  transform-origin: center;
  height: 40px;
}
.RefreshBtn:hover {
  transition: all 0.3s linear;
  // animation: rotation 1s linear;
  transform-origin: center;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

// Input Field Copy UI
.CopyBtn {
  background-color: map-get($theme-colors, "light_dim");
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.CopyBtn span {
  overflow: hidden;
  white-space: nowrap;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
