<div class="MainContent">
    <div class="container">
        <h3 class="font-weight-light mb-0">Create a Bucket</h3>
        <div class="w-100 mt-5">

            <div class="form-group mb-0">
                <label class="h6">Choose a unique name</label>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" placeholder="Choose a unique name for your bucket">
            </div>
        </div>
        <div class="w-100 mt-5">
            <h4 class="font-weight-light">Allow file listing?</h4>
            <div class="form-check form-check-inline border p-3 rounded">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label p-3" for="inlineRadio1"><span class="h6">Restrict File
                        Listing</span><br />
                    <div class="small">Only users who connect to this Bucket using access keys can list the contents.
                    </div>
                </label>
            </div>
            <div class="form-check form-check-inline border p-3 rounded">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label p-3" for="inlineRadio2"><span class="h6">Enable File Listing </span>
                    <br />
                    <div class="small">Anyone can list the contents of this Space.
                    </div>
                </label>
            </div>
        </div>

        <div class="w-100 text-right mt-2">
            <button class="btn btn-primary">Create</button>
        </div>
    </div>
</div>