<div class="MainContent">
    <div class="container">
        <div class="d-flex w-100 flex-row">
            <img src="../../../assets/icons/empty-bucket.svg" class="CreateBucket__icon mr-2" alt="">

            <div class="input-group mb-0">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Bucket Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>

        <div class="w-100 text-right mt-2">
            <button class="btn btn-primary">Create</button>
        </div>
    </div>
</div>