<div class="AppContent">
    <h3 class="font-weight-light mb-0">Create a Bucket</h3>
    <div class="w-100 mt-4">

        <div class="form-group mb-0">
            <label class="h6">Choose a unique name</label>
            <input type="text" name="bucketName" class="form-control" aria-label="Sizing example input" [(ngModel)]="bucket.bucketName"
                aria-describedby="inputGroup-sizing-default" placeholder="Choose a unique name" autocomplete="off" #bucketName="ngModel" required >
            <div *ngIf="bucketName.invalid && (bucketName.dirty || bucketName.touched)" class="alert alert-danger">
                <div *ngIf="bucketName.errors.required">
                    Bucket Name is required.
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 mt-4">
        <h4 class="font-weight-light">Allow file listing?</h4>
        <div class="d-flex flex-row mt-2 mb-3">
            <label class="RadioOptionContainer" for="filelistingRadio1">
                <h6 class="m-0">Restrict File Listing</h6>
                <input type="radio" name="filelisting" id="filelistingRadio1" value="restricted" checked
                    [(ngModel)]="bucket.fileListing">
                <span class="RadioOptionContainer__checkmark"></span>
                <div class="h6 font-weight-normal d-inline-flex">
                    Access keys are needed to list the contents
                </div>
            </label>
            <label class="RadioOptionContainer" for="filelistingRadio2">
                <h6 class="m-0">Enable File Listing</h6>
                <input type="radio" name="filelisting" id="filelistingRadio2" value="enabled"
                    [(ngModel)]="bucket.fileListing">
                <span class="RadioOptionContainer__checkmark"></span>
                <div class="h6 font-weight-normal d-inline-flex">
                    Anyone can list the contents
                </div>
            </label>
        </div>
    </div>

    <div class="w-100 text-right mt-2">
        <button class="btn btn-primary" [disabled]="bucketName.invalid" (click)="createBucket()">Create</button>
    </div>
</div>