@import "../../../assets/styles/variables";

.HeaderTop {
  padding-left: 200px;
  z-index: 4;
  height: 67px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.HeaderTop__search {
  border: 0;
}
